:root {
  --font-family: "Roboto", sans-serif;

  --primary-color: #4B51EF;
  --secondary-color: #52CF4F;
  --red-color: #D91313;
  --white-color: #FFFFFF;
  --grey-color: #BDBDBD;
  --light-grey-color: #D8D8D8;
}